<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action='answer' class='my-3'>
  <label for='ask'>Question</label>
  <input type='text' name='ask'>
  <input type='submit'>
</form>
